body{
  margin-left: 20px;
}

.boxed{
  border-color: #bbb;
  border-width: 1px;
  border-style: solid;
  padding: 8px;
  background-color: #ddd;
}

.key{
  border: 2px solid #aaa;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 2px 4px 4px #888;
  -webkit-box-shadow: 2px 4px 4px #888;
  box-shadow: 2px 4px 4px #888;
  background-color: #f9f9f9;
  padding: 2px 9px;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin: 5px 7px;
  float: left;
  min-width: 46px;
}

.key-box-container{
  border: 1px solid #bbb;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 2px 4px 4px #ddd;
  -webkit-box-shadow: 2px 4px 4px #ddd;
  box-shadow: 2px 4px 4px #ddd;
  background-color: #fff;
  padding: 15px 10px;
  margin: 5p 7px;
  float: left;
}